#!/bin/bash

# go install golang.org/dl/go1.21.0@latest
# go1.21.0 download
# go1.21.0 version
#alias makegen="go generate ./..."

export PGPASSWD=Postgres!23456
export PGUSER=postgres
export PGPORT=5432
export PGDB=postgres
# export GOPRIVATE=dev.azure.com
export GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/application_default_credentials.json

export MINIMAX_API_KEY=sk-....
export MINIMAX_API_HOST="https://api.minimax.io"

# Use the Windows environment variable for the profile for WSL
export WINDOWS_USER=$(cmd.exe /c "echo %USERNAME%" 2>/dev/null | tr -d '\r\n')
export WINDOWS_SCREENSHOTS_PATH="/mnt/c/Users/$WINDOWS_USER/OneDrive/Pictures/Screenshots"

