#!/bin/bash

# go install golang.org/dl/go1.21.0@latest
# go1.21.0 download
# go1.21.0 version
#alias makegen="go generate ./..."

export PGPASSWD=Postgres!23456
export PGUSER=postgres
export PGPORT=5432
export PGDB=postgres
# export GOPRIVATE=dev.azure.com
export GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/application_default_credentials.json

export AI_GATEWAY_BASE_URL="https://ai.com/gateway/v1"
export AI_GATEWAY_API_KEY="sk-"
export MY_AGENT_MODEL="aigateway/MiniMax/MiniMax-M2.7"
export OPENCODE_AGENT_MODEL="${MY_AGENT_MODEL:-opencode-go/deepseek-v4-flash}"


# Alias syntax: wrap the full command in single quotes
# alias myproject='cd ~/Projects/myproject && ./dev.sh'

# Use the Windows environment variable for the profile for WSL
export WINDOWS_USER=$(cmd.exe /c "echo %USERNAME%" 2>/dev/null | tr -d '\r\n')
export WINDOWS_SCREENSHOTS_PATH="/mnt/c/Users/$WINDOWS_USER/OneDrive/Pictures/Screenshots"

export OPENCODE_GO_API_KEY="your_api_key_here"
