let mapleader=" "

set ignorecase

nnoremap dd "_dd
nnoremap yy "yyy
nnoremap x "yx
nnoremap p "yp
nnoremap <Leader>e "+y
nnoremap <Leader>r "+p

imap jk <Esc>

vnoremap d "_d
vnoremap x "yx
vnoremap y "yy
vnoremap p "yp
vnoremap <Leader>x "+x
vnoremap <Leader>e "+y
vnoremap <Leader>r "+p
