# Disable wakeup from suspend for wireless mouse/keyboard receivers
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="32c2", ATTR{idProduct}=="0012", ATTR{power/wakeup}="disabled"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="3554", ATTR{idProduct}=="fa09", ATTR{power/wakeup}="disabled"